[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/webstack"]
	path = themes/webstack
	url = https://github.com/shenweiyan/WebStack-Hugo.git
